<div class="social clearfix">
  <a href="https://www.facebook.com/thebakingtheatre" target="_blank" class="icon-facebook" title="Facebook"></a>
  <a href="#" target="_blank" class="icon-twitter" title="Twitter"></a>
  <a href="#" target="_blank" class="icon-googleplus" title="Google+"></a>
  <a href="#" target="_blank" class="icon-instagram" title="Instagram"></a>
  <a href="#" target="_blank" class="icon-pinterest" title="Pinterest"></a>

  <a href="{{@blog.url}}/rss/" target="_blank" class="icon-rss" title="RSS"></a>
  <a href="mailto:youremail@ghost-delicious.com" class="icon-mail" title="Email"></a>
</div>
